<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h1 class="">本当に退会しますか？</h1>

      <p>
        退会すると、会員登録情報や<br>
        ここでの投稿や、会話が消えるなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      <div class="my-5">
          <%= link_to "退会しない",  edit_customer_path(@customer), class:"mr-5 btn btn-primary" %>
          <%= link_to "退会する", customer_path(@customer), method: :delete, class:"ml-5 btn btn-danger" %>
      </div>

    </div>
  </div>
</div>