<div class="mb-3 max-w-2xl text-left mx-auto">
  <div class="my-8 text-3xl">
    <h1><%= @post_pet.title %></h1>
  </div>
  <div class="mb-3 post-content">
    <%= @post_pet.content %>
  </div>
</div>