<div class='container'>
  <div class='row'>
    <h1 class="mx-auto">
      <strong>はちゅのたまりば</strong>
    </h1>
  </div>

  <div class='row'>
    <h4 class="mx-auto">
      <div class="text-center">
      ここは爬虫類が好きな人たちが集まれるSNSサイトです。<br>
      ペットの可愛い写真や、かっこいい写真を投稿して、<br>
      新しい出会いをすることができます。<br>
      </div>
    </h4>
  </div>
  <div class="mx-auto text-center mt-3">
    <%= image_tag "pattern_camo1.jpg", size: "600x300", alt: "画像" %>
  </div>
</div>