@use '~bootstrap/scss/bootstrap';
header {
  height: 15vh;
  //background-color: #5a4d43;
 
 // background-image: image-url("no_image.jpg");
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  opacity: 95%;
  font-family: 'Sawarabi Mincho', sans-serif;
}

body {
  background-color: rgba(255, 255, 128, .5);
  // background-image: image-url("no_image.jpg");
}

footer{
  //position: absolute;
  width: 100%;
  padding: 50px;
  //height: 80px;
  background-color: #5a4d43;
  opacity: 95%;
  //bottom: 0;
}

